.weather-content {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-width: 1080px;
  height: 100vh;
  min-height: 880px;
  overflow: hidden;
  background: var(--color-blue-lightest);
  box-shadow: 0 0 40px rgba(11, 23, 78, 0.5);
}
