.weather-content {
  display: flex;
  flex-wrap: wrap;
  min-width: 712px;
  max-width: 712px;
  min-height: 880px;
  overflow: hidden;
  background: var(--color-blue-lightest);
  box-shadow: 0 0 40px rgb(11 23 78 / 50%);
  z-index: 2;
}
