.cards {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 880px;
  padding: 2px 4px 0 4px;
  box-sizing: border-box;
}

.cards__small-cards {
  height: 100%;
  padding-bottom: 100px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: -moz-scrollbars-none;
}

.cards__small-cards::-webkit-scrollbar { 
  width: 0;
}

.cards__small-cards > div,
.cards__big-cards > div {
  margin-bottom: 2px;
}

.cards__big-cards {
  width: calc(50% - 2px);
  height: 100%;
  padding-bottom: 100px;
  overflow: auto;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cards__big-cards_visible {
  overflow: visible;
}

.cards__big-cards::-webkit-scrollbar {
  display: none;
}

.cards__big-cards > div {
  margin-bottom: 2px;
}

.cards__big-cards > div:last-child {
  margin-bottom: 80px;
}

.cards__big-cards {
  position: relative;
  z-index: 1;
}

.cards__help {
  position: absolute;
  top: 56px;
  left: 0;
  z-index: -1;

  width: 100%;
  padding-right: 65px;
  padding-left: 65px;

  line-height: 32px;
  text-align: center;
  color: var(--color-text-help);
}
